@media only screen and (min-width: 1000px) {
    .navItem{
      margin-left: 40px;
    }
  }

.siteTop {
  background-image: url("https://static-assets-amberstudent.imgix.net/images/header_home_1.jpg");
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  background-size: cover;
  text-align: center;
}

.amberlogo {
  object-fit: contain;
  height: 30px;
}

.topMiddle {
  margin-top: 15vh;
}